<p>@ViewBag.Title</p>
<div>
    <button>
        <a href="/Home/AddContractor">Добавить контрагента</a>
    </button>
    <button>
        <a href="/Home/Index">Вернуться к списку</a>
    </button>
</div>
